include README.md
include LICENSE
include requirements.txt
include .env.example
recursive-include callanalyser/prompts *.txt
recursive-include callanalyser/examples *.py
recursive-include callanalyser/video *.py
recursive-include callanalyser/utils *.py 